<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento Alquiler - S-Manga</title>

	<!-- Favicon Icon -->
    <link rel="shortcut icon" href="/resources/img/logo.png" type="image/x-icon">
    
    <!-- Start Include All CSS -->
    <link rel="stylesheet" href="/resources/css/index.css">
    <link rel="stylesheet" href="/resources/css/menu-vertical.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/resources/css/datatables.css">
    
	 <!-- Alert Messages CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
	<!-- End Include All CSS -->
</head>
<body>
	<!-- Fragment Header -->
	<div th:replace="~{/fragments/header :: myheader}"></div>
	<br>
	<br>

    <div class="container d-flex align-items-center pt-5">    
        <h4 class="m-0 ps-1"><i class="bi bi-book-half"></i> Mantenimiento Alquiler</h4>
    </div>
    
    <div class="container">
        <hr>
        <!-- Report -->
        <div class="d-flex align-items-center justify-content-end">	
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle px-3" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-file-earmark-pdf-fill"></i> Generar Reporte
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#_"> PDF</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <table id="datatable-spanish" class="table table-striped table-bordered border-bottom-0 shadow pt-2">
            <thead class="table-primary">
                <tr>
                    <th class="text-center">Código</th>
                    <th class="text-center">Fec. Alquiler</th>
                    <th class="text-center">Fec. Devolucion</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Cliente</th>
                    <th class="text-center">Administrador</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>   
            <tbody>
                <tr th:each="a:${dataAlquiler}" class="text-center">
                    <td th:text="${a.codAlq}"></td>
                    <td th:text="${a.fecAlq}"></td>
                    <td th:text="${a.fecDev}"></td>
                    <td th:text="${a.montoAlq}"></td>
                    <td th:text="${a.estado}" th:class="${a.estado eq 'Prestado' ? 'badge text-bg-success' : (a.estado eq 'Devuelto' ? 'badge text-bg-info' : 'badge text-bg-danger')}"></td>
                    <td th:text="${a.alquilerUsuario.nomUsu + ' ' + a.alquilerUsuario.apeUsu}"></td>
                    <td th:text="${a.alquilerAdministrador.nomAdm + ' ' + a.alquilerAdministrador.apeAdm}"></td>
                    <td class="d-flex align-items-center justify-content-evenly">
                        <!-- Button Update -->
                        <a class="btn btn-sm btn-primary border-0 btn-editar" data-bs-toggle="modal" data-bs-target="#exampleModalGrabar">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <!-- Button Delete -->
                        <a class="btn btn-sm btn-danger border-0 btn-eliminar">
                        	<i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
	<!-- Start Modal Update -->
	<div class="modal fade" id="exampleModalGrabar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-dark">	
					<div class="d-flex align-items-center">
						<h4 class="modal-title ms-2 text-warning"><i class="bi bi-gear-fill"></i> Alquiler</h4>
					</div>				
					<button type="button" class="btn btn-close bg-warning" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				
				<div class="modal-body">			
					<div class="container">
						<div class="row justify-content-center">
							<form id="CreateForm" th:action="@{/alquiler/update}" method="post" class="my-3 row">
								<div class="mb-3 col-md-2">
									<label class="col-form-label">Código</label>	
									<input type="text" class="form-control i-disabled-bg" name="txtCodigo" value="0" id="txtCodigo" readonly>							
								</div>

								<div class="mb-3 col-md-5">
									<label class="col-form-label">Fec. Prestamo</label>									
									<input class="form-control border-secondary i-disabled-bg" type="date" id="txtFecAlq" name="txtFecAlq" readonly>				
								</div>

								<div class="mb-3 col-md-5">
									<label class="col-form-label">Fec. Devolucion</label>
									<input class="form-control border-secondary i-disabled-bg" type="date" id="txtFecDev" name="txtFecDev" readonly>
								</div>	
								
								<div class="mb-3 col-md-4">
									<label class="col-form-label">Monto Total S/.</label>
									<input type="text" class="form-control border-secondary i-disabled-bg" name="txtMonto" id="txtMonto" readonly>
								</div>
								
								<div class="mb-3 col-md-8">
									<label class="col-form-label">Estado Alquiler</label>
									<select class="form-select border-secondary mb-2" id="txtEstado" name="txtEstado" onchange="combo(this, demo)" required>
									  <option value="">[Seleccione Estado]</option>
									  <option value="Prestado">Prestado</option>									
									  <option value="Devuelto">Devuelto</option>									
									  <option value="Vencido">Vencido</option>									
									</select>
								</div>
								
								<div class="mb-3 col-md-6">
									<label class="col-form-label">Cod Usuario</label>
									<input type="text" class="form-control border-secondary i-disabled-bg" name="txtUsuario" id="txtUsuario" readonly>				
								</div>	
								
								<div class="mb-3 col-md-6">
									<label class="col-form-label">Cod Administrador</label>
									<input type="text" class="form-control border-secondary i-disabled-bg" name="txtAdministrador" id="txtAdministrador" readonly>			
								</div>																																						
							</form>
						</div>
					</div>
				</div>		
				<div class="modal-footer d-flex align-items-center justify-content-center bg-dark">
					<button class="btn btn-outline-warning fw-bold px-5" type="submit" form="CreateForm">Guardar Cambios</button>					
				</div>
			</div>
		</div>
	</div>
	<!-- End Modal Update -->
	
	<br>
	<br>
	<br>
	<!-- Fragment Footer -->
	<div th:replace="~{/fragments/footer :: myfooter}"></div>
	
	<!-- Start Include All JS -->
	<script src="/resources/js/jquery-3.6.0.js"></script>
    <script src="/resources/js/plugins.js"></script>
    <script src="/resources/js/menu-vertical.js"></script>
    <script src="/resources/js/back-top.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/resources/js/datatables.js"></script>
    <script src="/resources/js/datatables-language.js"></script>
	
    <!-- Alert Messages JS -->
	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- End Include All JS -->
	
	<!-- Show Message Alert -->
	<script th:inline="javascript" th:if="${mensaje != null}">
		let msj;
		msj = /*[[${mensaje}]]*/
	
	 	toastr.success(msj, "Mensaje: ", {
		    "timeOut": "7000",
		    "extendedTImeout": "7000",
		    "positionClass ": " toast-top-right ",
		});
	</script>
	
	<!-- Function Update -->
	<script>
		$(document).on("click",".btn-editar", function(){
			let cod;
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			$.get("search?buscarCodigo="+cod, function(response){				
				$("#txtCodigo").val(response.codAlq);
				$("#txtFecAlq").val(response.fecAlq);
				$("#txtFecDev").val(response.fecDev);
				$("#txtMonto").val(response.montoAlq);
				$("#txtEstado").val(response.estado);
				$("#txtUsuario").val(response.alquilerUsuario.codUsu);
				$("#txtAdministrador").val(response.alquilerAdministrador.codAdm);
			})
		})
	</script>
	
	<!-- Function Delete -->
	<script>
		$(document).on("click", ".btn-eliminar", function() {
			let cod;
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			alertify.confirm('Alerta!', 'ESTA SEGURO DE ELIMINAR ESTE REGISTRO?', function() {
				window.location="delete?buscarCodigo="+cod;			
			}, function() {
				alertify.error('Acción Cancelada');		
			}).set('labels', {ok:'Sí', cancel:'Cancelar'});			
		})
	</script>
</body>
</html>